.App {
  text-align: center;
}

.grid-container {
  border: 1px solid black;
}

.cell {
  overflow: hidden;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.alive {
  border: 1px solid #262626;
  background-color: #262626;
  color: #262626;
}

.alive:hover {
  border: 1px solid black;
  background-color: black;
  color: black;
}

.dead {
  border: 1px solid white;
  background-color: white;
  color: white;
}

.cell:hover {
  border: 1px solid black;
}